<%= simple_form_for(@workout) do |f| %>
  <%= f.error_notification %>

  <div class="form-inline">
    <%= f.input :exercise %>
    <%= f.input :load %>
    <%= f.input :reps %>
    <%= f.input :sets %>
    <%= f.input :tempo %>
    <%= f.input :set1 %>
    <%= f.input :set2 %>
    <%= f.input :set3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= simple_form_for(@workout1) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :exercise %>
    <%= f.input :load %>
    <%= f.input :reps %>
    <%= f.input :sets %>
    <%= f.input :tempo %>
    <%= f.input :set1 %>
    <%= f.input :set2 %>
    <%= f.input :set3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= simple_form_for(@workout2) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :exercise %>
    <%= f.input :load %>
    <%= f.input :reps %>
    <%= f.input :sets %>
    <%= f.input :tempo %>
    <%= f.input :set1 %>
    <%= f.input :set2 %>
    <%= f.input :set3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= simple_form_for(@workout3) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :exercise %>
    <%= f.input :load %>
    <%= f.input :reps %>
    <%= f.input :sets %>
    <%= f.input :tempo %>
    <%= f.input :set1 %>
    <%= f.input :set2 %>
    <%= f.input :set3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= simple_form_for(@workout4) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :exercise %>
    <%= f.input :load %>
    <%= f.input :reps %>
    <%= f.input :sets %>
    <%= f.input :tempo %>
    <%= f.input :set1 %>
    <%= f.input :set2 %>
    <%= f.input :set3 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
