
<h1>Listing workouts</h1> 
 <%- model_class = Workout -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:exercise) %></th>
      <th><%= model_class.human_attribute_name(:load) %></th>
      <th><%= model_class.human_attribute_name(:sets) %></th>
      <th><%= model_class.human_attribute_name(:reps) %></th>
      <th><%= model_class.human_attribute_name(:set1) %></th>
      <th><%= model_class.human_attribute_name(:set) %></th>
      <th><%= model_class.human_attribute_name(:set) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= workout.id %></td>
        <td><%= workout.exercise %></td>
        <td><%= workout.load %></td>
        <td><%= workout.sets %></td>
        <td><%= workout.reps %></td>
        <td><%= workout.set1 %></td>
        <td><%= workout.set2 %></td>
        <td><%= workout.set3 %></td>
        <td>
          <%= link_to workout_path(workout), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to workout_path(workout), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_exercise_path,
            :class => 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
