<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @athlete.user %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @athlete.coach %>
</p>

<%= link_to 'Edit', edit_athlete_path(@athlete) %> |
<%= link_to 'Back', athletes_path %>
